.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
}

.section-container-course {
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color:#091E4221;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin: 0 auto;
}


.image-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-side {
  flex: 2;
  padding-left: 40px;
}
